@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F4F4F; /* dark-bg */
  color: #e0e6f0; /* darkText */
}

/* Make dropdown options readable in dark mode */
select option {
  color: black;
  background: white;
}
